body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
  }
  
  form {
    margin: 2rem auto;
    text-align: center;
  }
  
  form input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  
  form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  #messagesList {
    margin: 2rem auto;
    width: 80%;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
/* Estilo para el texto 'By Casvill' */
.brand {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  z-index: 10; /* Asegura que el texto esté por encima de otros elementos */
}

@media (max-width: 768px) {
  .brand {
    font-size: 14px; /* Ajusta el tamaño en dispositivos más pequeños */
  }
}
